In [6]:
import pandas as pd

In [7]:
CSV_PATH = "../../data/life/Bite Off More Than You Can Chew Braces profile - Sheet1.csv"

In [114]:
df = pd.read_csv(CSV_PATH)
df.keys()

Index(['Domain', 'Tooth number', 'Health condition related to tooth:',
       'Brace 1- 25 lugl-8 agosto', 'Brace 2 - 8 agosto -22 agosto',
       'Brace 3 -22 agosto-5 settembre ', 'Brace 4', 'Brace 5', 'Brace 6',
       'Brace 7', 'Brace 8', 'Brace 9', 'Brace 10', 'Brace 11', 'Brace 12',
       'Brace 13', 'Brace 14', 'Brace 15', 'Brace 16', 'Brace 17', 'Brace 18',
       'Brace 19', 'Brace 20', 'Brace 21', 'Brace 22', 'Brace 23'],
      dtype='object')

In [115]:
# remove nulls
df.dropna(subset=["Tooth number", "Domain"], inplace=True)

In [116]:
# teeth indices to ints
f = lambda s: [int(s) for s in s.split("-")]
df["Tooth number"] = df["Tooth number"].apply(f)

In [117]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df["Tooth number"])

0                      [14, 24, 34, 44]
1                      [14, 24, 34, 44]
2                      [14, 24, 34, 44]
3                      [14, 24, 34, 44]
4                      [41, 31, 11, 21]
5                              [48, 38]
6                      [14, 24, 34, 44]
7      [21, 22, 23, 24, 25, 26, 27, 28]
8                      [14, 24, 34, 44]
9                      [13, 23, 33, 43]
10                     [14, 24, 34, 44]
11                     [13, 23, 33, 43]
12     [11, 12, 41, 42, 31, 32, 21, 22]
13                     [13, 23, 33, 43]
14                     [14, 24, 34, 44]
15                     [14, 24, 34, 44]
16                     [18, 28, 38, 48]
17                     [18, 28, 38, 48]
18                     [13, 23, 33, 43]
19     [11, 12, 41, 42, 31, 32, 21, 22]
20                     [14, 24, 34, 44]
21     [17, 16, 26, 27, 45, 44, 35, 34]
22     [11, 12, 41, 42, 31, 32, 21, 22]
23     [11, 12, 41, 42, 31, 32, 21, 22]
24                             [48, 38]
25                     [18, 28, 38, 48]
26     [11, 12, 41, 42, 31, 32, 21, 22]
28                     [48, 38, 28, 18]
29     [34, 35, 44, 45, 16, 17, 26, 27]
30                     [13, 23, 33, 43]
31     [11, 12, 41, 42, 31, 32, 21, 22]
32                     [18, 28, 38, 48]
33                     [18, 28, 38, 48]
34                     [13, 23, 33, 43]
35     [17, 16, 26, 27, 45, 44, 35, 34]
36     [14, 15, 26, 27, 46, 47, 36, 37]
37                     [13, 23, 33, 43]
38     [11, 12, 41, 42, 31, 32, 21, 22]
39     [17, 16, 26, 27, 45, 44, 35, 34]
40     [11, 12, 41, 42, 31, 32, 21, 22]
41     [34, 35, 44, 45, 16, 17, 26, 27]
42                     [18, 28, 38, 48]
43     [34, 35, 44, 45, 16, 17, 26, 27]
44                     [18, 28, 38, 48]
46     [17, 16, 26, 27, 45, 44, 35, 34]
47                     [13, 23, 33, 43]
48                             [48, 38]
49     [11, 12, 13, 14, 15, 16, 17, 18]
50                             [48, 38]
51                             [48, 38]
52                             [48, 38]
53                     [13, 23, 33, 43]
54                     [13, 23, 33, 43]
55                     [18, 28, 38, 48]
56                     [17, 27, 37, 47]
57                     [18, 28, 38, 48]
58                     [18, 28, 38, 48]
59                     [18, 28, 38, 48]
60                     [18, 28, 38, 48]
61     [12, 11, 21, 22, 32, 31, 42, 41]
63                     [17, 27, 37, 47]
64                     [17, 27, 37, 47]
65                     [17, 27, 37, 47]
66                     [17, 27, 37, 47]
67     [11, 12, 41, 42, 31, 32, 21, 22]
68     [11, 12, 41, 42, 31, 32, 21, 22]
69                     [14, 24, 34, 44]
70     [11, 12, 41, 42, 31, 32, 21, 22]
71     [11, 12, 41, 42, 31, 32, 21, 22]
72     [11, 12, 41, 42, 31, 32, 21, 22]
73     [11, 12, 41, 42, 31, 32, 21, 22]
74     [11, 12, 41, 42, 31, 32, 21, 22]
75                     [13, 23, 33, 43]
76                     [17, 27, 37, 47]
78                     [13, 23, 33, 43]
79                     [45, 35, 25, 15]
80                     [13, 23, 33, 43]
81                     [16, 26, 36, 46]
82                     [16, 26, 36, 46]
83                     [13, 23, 33, 43]
84                     [16, 26, 36, 46]
85                     [16, 26, 36, 46]
86                     [16, 26, 36, 46]
87                     [16, 26, 36, 46]
88                     [13, 23, 33, 43]
90     [21, 22, 23, 24, 25, 26, 27, 28]
91     [21, 22, 23, 24, 25, 26, 27, 28]
92     [11, 12, 13, 14, 15, 16, 17, 18]
93                     [18, 28, 38, 48]
94                     [14, 24, 34, 44]
95                     [14, 24, 34, 44]
96     [17, 16, 26, 27, 45, 44, 35, 34]
97     [21, 22, 23, 24, 25, 26, 27, 28]
98                             [48, 38]
99                             [48, 38]
100                            [48, 38]
101                    [41, 31, 11, 21]
102                    [13, 23, 33, 43]
103                    [13, 23, 33, 43]
Name: Tooth number, dtype: object

In [112]:
f = lambda l: [int(s) for s in l]
df["Tooth number"] = df["Tooth number"].apply(f)

In [113]:
df["Tooth number"]

0      [14, 24, 34, 44]
1      [14, 24, 34, 44]
2      [14, 24, 34, 44]
3      [14, 24, 34, 44]
4      [41, 31, 11, 21]
             ...
99             [48, 38]
100            [48, 38]
101    [41, 31, 11, 21]
102    [13, 23, 33, 43]
103    [13, 23, 33, 43]
Name: Tooth number, Length: 99, dtype: object

In [22]:
#df.keys()
df["Tooth number"] = df["Tooth number"].apply(f)
df["Tooth number"].isnull().sum()

5

In [49]:
# Create a DataFrame with three columns
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

# Define a function that squares a number
def square(x):
    return x**2

# Apply the square function to each element of the DataFrame using applymap()
result = df.applymap(square)

# Display the resulting DataFrame with each element squared
print(result)

   A   B   C
0  1  16  49
1  4  25  64
2  9  36  81